.main-certificate-container{
    text-align: center;
    align-items: center;margin-top: 12px;
    
}
.main-image-div{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.image-div{
    height: 250px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
}